*.o
*.la
*.lo
Makefile
Makefile.in
ABOUT-NLS
config.rpath
config.h
config.h.in
config.log
config.status
config.sub
configure
config.guess
compile
aclocal.m4
depcomp
.*.swp
*~
.deps
.libs
missing
stamp-h1
stamp-h.in
libtool
ltmain.sh
autom4te.cache
autoregen.sh
patch
tools/vts-server
install-sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/lock.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
pkgconfig/gst-streaming-server-*-uninstalled.pc
pkgconfig/gst-streaming-server-*.pc
pkgconfig/gst-streaming-server-uninstalled.pc
pkgconfig/gst-streaming-server.pc
tools/server.crt
tools/server.key
tools/gss-info
tools/gss-isom-tool
tools/gss-transcoder
tools/gst-streaming-server
doc/gss/gst-streaming-server-decl-list.txt
doc/gss/gst-streaming-server-decl.txt
doc/gss/gst-streaming-server-undeclared.txt
doc/gss/gst-streaming-server-undocumented.txt
doc/gss/gst-streaming-server-unused.txt
doc/gss/gst-streaming-server.args
doc/gss/gst-streaming-server.hierarchy
doc/gss/gst-streaming-server.interfaces
doc/gss/gst-streaming-server.prerequisites
doc/gss/gst-streaming-server.signals
doc/gss/doc-registry.xml
doc/gss/html-build.stamp
doc/gss/html.stamp
doc/gss/html/
doc/gss/scan-build.stamp
doc/gss/setup-build.stamp
doc/gss/sgml-build.stamp
doc/gss/sgml.stamp
doc/gss/xml/
doc/version.entities
gst-streaming-server/gss-content.c
gst-streaming-server/gss-content.h
po/Makefile.in.in
po/Makefile.in.in.orig
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/gst-streaming-server-1.0.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po

