Source: gst-streaming-server
Section: unknown
Priority: extra
Maintainer: David Schleef <ds@unknown>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev, librtmp-dev, libsoup2.4-dev, libjson-glib-dev
Standards-Version: 3.9.3
Homepage: http://gstreamer.freedesktop.org/
#Vcs-Git: git://git.debian.org/collab-maint/gst-streaming-server.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gst-streaming-server.git;a=summary

Package: gst-streaming-server
Architecture: any
Pre-Depends: openssl
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-plugins-base, gstreamer0.10-plugins-good
Description: Streaming video server based on GStreamer
 The GStreamer Streaming Server (GSS) is a streaming video server based
 on GStreamer.

