Source: gst-streaming-server
Section: video
Priority: extra
Maintainer: David Schleef <ds@unknown>
Build-Depends: debhelper (>= 8.0.0), libssl-dev, libjson-glib-dev, libsoup2.4-dev, flex, bison, autopoint | gettext, libglib2.0-dev, autoconf, automake, libtool, pkg-config
Standards-Version: 3.9.4
Homepage: http://gstreamer.freedesktop.org/
#Vcs-Git: git://git.debian.org/collab-maint/gst-streaming-server.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gst-streaming-server.git;a=summary

Package: gst-streaming-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GStreamer Streaming Server
 GStreamer Streaming Server.
